.menu-navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    box-shadow: grey 0px 4px 12px;
    height: 90px;
}

.menu-imagen{
    width:  100px;
}

.menu-title2 {
    
    color: blue;
    font-size: 20px;
}

.menu-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 300px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    text-decoration: none;
    color: blanchedalmond;
    margin-top: 20px;
    font-size: 20px
}